<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Redirector</title>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
        />
        <link rel="manifest" href="/manifest.json" />
        <style>
            html, body, #app {
                height: 100%;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#f5f5f5" />
        <meta charset="utf-8" />
    </head>
    <body>
        <div id="app" data-api-url="<%= apiUrl %>">
            Redirector loading...
        </div>
    </body>
</html>
